<%= form_with(model: staff, local: true) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name, value: 'Имя' %>
    <div class="row">
      <div class="col-2">
        <%= form.text_field :first_name, id: :staff_first_name, class: 'form-control' %>
      </div>
    </div>    
  </div>

  <div class="form-group">
    <%= form.label :last_name, value: 'Фамилия' %>
    <div class="row">
      <div class="col-2">
        <%= form.text_field :last_name, id: :staff_last_name, class: 'form-control' %>
      </div>
    </div> 
  </div>

  <div class="form-group">
    <%= form.label :postID, value: 'Должность ID' %>
    <div class="row">
      <div class="col-2">
        <%= form.number_field :postID, id: :staff_postID, class: 'form-control' %>
      </div>
    </div> 
  </div>

  <div class="form-group">
    <%= form.label :personal_dataID, value: 'Персональная информация id' %>
    <div class="row">
      <div class="col-2">
        <%= form.number_field :personal_dataID, id: :staff_personal_dataID, class: 'form-control' %>
      </div>
    </div> 
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-dark', value: 'Сохранить' %>
    <%= link_to 'Назад', staffs_path, class: 'btn btn-outline-dark' %>
  </div>
<% end %>
