<%= form_with(model: month, local: true) do |form| %>
  <% if month.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(month.errors.count, "error") %> prohibited this month from being saved:</h2>

      <ul>
      <% month.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :month_name, value: 'Название месяца' %>
    <div class="row">
      <div class="col-2">
        <%= form.text_field :month_name, id: :month_month_name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-dark', value: 'Сохранить' %>
    <%= link_to 'Назад', months_path, class: 'btn btn-outline-dark' %>
  </div>
<% end %>
