<p id="notice"><%= notice %></p>

<h1>Месяц</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Название месяца</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @months.each do |month| %>
      <tr>
        <td><%= month.id %></td>
        <td><%= month.month_name %></td>
        <td><%= link_to 'Открыть', month %></td>
        <td><%= link_to 'Редактировать', edit_month_path(month) %></td>
        <td><%= link_to 'Удалить', month, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_month_path, class: 'btn btn-dark' %>
