<p id="notice"><%= notice %></p>

<h1>Метод оплаты</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Метод</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @method_payments.each do |method_payment| %>
      <tr>
        <td><%= method_payment.id %></td>
        <td><%= method_payment.method %></td>
        <td><%= link_to 'Открыть', method_payment %></td>
        <td><%= link_to 'Редактировать', edit_method_payment_path(method_payment) %></td>
        <td><%= link_to 'Удалить', method_payment, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_method_payment_path, class: 'btn btn-dark' %>
