<%= form_with(model: personal_datum, local: true) do |form| %>
  <% if personal_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal_datum.errors.count, "error") %> prohibited this personal_datum from being saved:</h2>

      <ul>
      <% personal_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :gender, value: 'Пол' %>
    <div class="row">
      <div class="col-2">
        <%= form.text_field :gender, id: :personal_datum_gender, class: 'form-control' %>
      </div>
    </div>    
  </div>

  <div class="form-group">
    <%= form.label :phone, value: 'Телефон' %>
    <div class="row">
      <div class="col-2">
        <%= form.number_field :phone, id: :personal_datum_phone, class: 'form-control' %>
      </div>
    </div>    
  </div>

  <div class="form-group">
    <%= form.label :marital_statusID, value: 'Семейное положение id' %>
    <div class="row">
      <div class="col-2">
        <%= form.number_field :marital_statusID, id: :personal_datum_marital_statusID, class: 'form-control' %>
      </div>
    </div>    
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-dark', value: 'Сохранить'%>
    <%= link_to 'Назад', personal_data_path, class: 'btn btn-outline-dark' %>
  </div>
<% end %>
