<p id="notice"><%= notice %></p>

<h1>Персональные данные</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Пол</th>
      <th>Телефон</th>
      <th>Семейное положение id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_data.each do |personal_datum| %>
      <tr>
        <td><%= personal_datum.id %></td>
        <td><%= personal_datum.gender %></td>
        <td><%= personal_datum.phone %></td>
        <td><%= personal_datum.marital_statusID %></td>
        <td><%= link_to 'Открыть', personal_datum %></td>
        <td><%= link_to 'Редактировать', edit_personal_datum_path(personal_datum) %></td>
        <td><%= link_to 'Удалить', personal_datum, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_personal_datum_path, class: 'btn btn-dark' %>
