<p id="notice"><%= notice %></p>

<p>
  <strong>Пол:</strong>
  <%= @personal_datum.gender %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @personal_datum.phone %>
</p>

<p>
  <strong>Семейное положение id:</strong>
  <%= @personal_datum.marital_statusID %>
</p>

<%= link_to 'Редактирова', edit_personal_datum_path(@personal_datum), class: 'btn btn-dark' %> 
<%= link_to 'Назад', personal_data_path, class: 'btn btn-outline-dark' %>
