<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :staff_date, value: 'Начало' %>
    <div class="row">
      <div class="col-2">
        <%= form.text_field :start_date, id: :contract_staff_date, class: 'form-control' %>
      </div>
    </div>    
  </div>

  <div class="form-group">
    <%= form.label :expiration_date, value: 'Конец' %>
    <div class="row">
      <div class="col-2">
        <%= form.text_field :expiration_date, id: :contract_expiration_date, class: 'form-control' %>
      </div>
    </div>    
  </div>

  <div class="form-group">
    <%= form.label :staffID, value: 'Сотрудник id' %>
    <div class="row">
      <div class="col-2">
        <%= form.number_field :staffID, id: :contract_staffID, class: 'form-control' %>
      </div>
    </div>    
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-dark', value: 'Сохранить' %>
    <%= link_to 'Назад', contracts_path, class: 'btn btn-outline-dark' %>
  </div>
<% end %>
