<p id="notice"><%= notice %></p>

<p>
  <strong>Начало:</strong>
  <%= @contract.start_date %>
</p>

<p>
  <strong>Конец:</strong>
  <%= @contract.expiration_date %>
</p>

<p>
  <strong>Сотрудник id:</strong>
  <%= @contract.staffID %>
</p>

<%= link_to 'Редактировать', edit_contract_path(@contract), class: 'btn btn-dark' %> 
<%= link_to 'Назад', contracts_path, class: 'btn btn-outline-dark' %>
