<%= form_with(model: marital_status, local: true) do |form| %>
  <% if marital_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marital_status.errors.count, "error") %> prohibited this marital_status from being saved:</h2>

      <ul>
      <% marital_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :status, value: 'Статус' %>
    <div class="row">
      <div class="col-2">
        <%= form.text_field :status, id: :marital_status_status, class: 'form-control' %>
      </div>
    </div>    
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-dark', value: 'Сохранить' %>
    <%= link_to 'Назад', marital_statuses_path, class: 'btn btn-outline-dark' %>
  </div>
<% end %>
