<p id="notice"><%= notice %></p>

<h1>Operating Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Monthid</th>
      <th>Col days</th>
      <th>Staffid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operating_schedules.each do |operating_schedule| %>
      <tr>
        <td><%= operating_schedule.monthID %></td>
        <td><%= operating_schedule.col_days %></td>
        <td><%= operating_schedule.staffID %></td>
        <td><%= link_to 'Show', operating_schedule %></td>
        <td><%= link_to 'Edit', edit_operating_schedule_path(operating_schedule) %></td>
        <td><%= link_to 'Destroy', operating_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operating Schedule', new_operating_schedule_path %>
