<p id="notice"><%= notice %></p>

<p>
  <strong>Monthid:</strong>
  <%= @operating_schedule.monthID %>
</p>

<p>
  <strong>Col days:</strong>
  <%= @operating_schedule.col_days %>
</p>

<p>
  <strong>Staffid:</strong>
  <%= @operating_schedule.staffID %>
</p>

<%= link_to 'Edit', edit_operating_schedule_path(@operating_schedule) %> |
<%= link_to 'Back', operating_schedules_path %>
