<p id="notice"><%= notice %></p>

<p>
  <strong>Месяц id:</strong>
  <%= @operating_schedule.monthID %>
</p>

<p>
  <strong>Количество дней:</strong>
  <%= @operating_schedule.col_days %>
</p>

<p>
  <strong>Сотрудник id:</strong>
  <%= @operating_schedule.staffID %>
</p>

<%= link_to 'Редактировать', edit_operating_schedule_path(@operating_schedule), class: 'btn btn-dark' %>
<%= link_to 'Назад', operating_schedules_path, class: 'btn btn-outline-dark' %>
