<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :posts, value: 'Должность' %>
    <div class="row">
      <div class="col-2">
        <%= form.text_field :posts, id: :post_posts, class: 'form-control' %>
      </div>  
    </div> 
  </div>

  <div class="form-group">
    <%= form.label :method_paymentID, value: 'Способ оплаты ID' %>
    <div class="row">
      <div class="col-2">
        <%= form.number_field :method_paymentID, id: :post_method_paymentID, class: 'form-control' %>
      </div>  
    </div>    
  </div>

  <div class="form-group">
    <%= form.label :zp, value: 'Зарплата' %>
    <div class="row">
      <div class="col-2">
        <%= form.text_field :zp, id: :post_zp, class: 'form-control' %>
      </div>  
    </div>     
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-dark', value: 'Сохранить' %>
    <%= link_to 'Назад', posts_path, class: 'btn btn-outline-dark' %>
  </div>
<% end %>
