<p id="notice"><%= notice %></p>

<h1>Должность</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Должность</th>
      <th>Способ оплаты id</th>
      <th>Зарплата</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.posts %></td>
        <td><%= post.method_paymentID %></td>
        <td><%= post.zp %></td>
        <td><%= link_to 'Открыть', post %></td>
        <td><%= link_to 'Редактировать', edit_post_path(post) %></td>
        <td><%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_post_path, class: 'btn btn-dark' %>
