<p id="notice"><%= notice %></p>

<p>
  <strong>Должность:</strong>
  <%= @post.posts %>
</p>

<p>
  <strong>Способ оплаты id:</strong>
  <%= @post.method_paymentID %>
</p>

<p>
  <strong>Зарплата:</strong>
  <%= @post.zp %>
</p>

<%= link_to 'Редактировать', edit_post_path(@post), class: 'btn btn-dark' %> 
<%= link_to 'Назад', posts_path, class: 'btn btn-outline-dark' %>
