<!DOCTYPE html>
<html>
  <head>
    <title>BookKeeping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="<%= active_class(root_path) %>">
          <a class="nav-link" href="<%= root_path %>">Главная</a>
        </li>
        <li class="<%= active_class(months_path) %>">
          <a class="nav-link" href="<%= months_path %>">Месяц</a>
        </li>
        <li class="<%= active_class(posts_path) %>">
          <a class="nav-link" href="<%= posts_path %>">Должность</a>
        </li>
        <li class="<%= active_class(staffs_path) %>">
          <a class="nav-link" href="<%= staffs_path %>">Сотрудники</a>
        </li>
        <li class="<%= active_class(contracts_path) %>">
          <a class="nav-link" href="<%= contracts_path %>">Контракты</a>
        </li>
        <li class="<%= active_class(method_payments_path) %>">
          <a class="nav-link" href="<%= method_payments_path %>">Способ оплаты</a>
        </li>
        <li class="<%= active_class(marital_statuses_path) %>">
          <a class="nav-link" href="<%= marital_statuses_path %>">Семейное положение</a>
        </li>
        <li class="<%= active_class(personal_data_path) %>">
          <a class="nav-link" href="<%= personal_data_path %>">Персональные данные</a>
        </li>
        <li class="<%= active_class(operating_schedules_path) %>">
          <a class="nav-link" href="<%= operating_schedules_path %>">График работы</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <hr>
  <footer class="container">
      <p>© 2018 Разработчик "ООО Ромашка".</p>
    </footer>
  </body>
</html>
